@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #555;
  color: #fefefe;
}

:root {
  /* --bg: #ffffff; */
  --bg: #fbfcf7;
  --text: #000;
  --sh-class: #2563eb;
  --sh-identifier: #374151;
  --sh-sign: #6b7280;
  --sh-string: #059669;
  --sh-keyword: #dc2626;
  --sh-comment: #9ca3af;
  --sh-jsxliterals: #6366f1;
  --sh-property: #d97706;
  --sh-entity: #ea580c;
  --social-icon: #4b5563;

  --card-bg: #f9fafb;
  --nav-bg: #f3f4f6;
  --nav-text: #1f2937;
  --nav-hover: #94a3b8;
  --nav-active: #e5e7eb;
}

html {
  min-width: 360px;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  cursor: pointer;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
  font-family:
    Arial,
    Helvetica,
    sans-serif "ibm";
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: radial-gradient(circle, #747272 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.5;
}

