@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MyFont";
  src: url("../assets/font.woff2");
}

@font-face {
  font-family: "editorialNew";
  src: url("../assets/BricolageGrotesque.ttf");
}

@font-face {
  font-family: Neuka;
  src: url("../assets/3856NeueMachina.woff2");
}
body {
  color: var(--foreground);
  background-color: #000;
  color: white;
  font-family: "editorialNew", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* .heroBG {
  background-image: url("../assets/mesh-gradient-optimized.webp");
  background-size: 100% 400%;
  background-position-y: 84.4573%;
} */

@keyframes zoom {
  0%,
  100% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
}
@keyframes zoom {
  0%,
  100% {
    background-size: 100% 400%;
  }
  50% {
    background-size: 120% 420%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.textStroke {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.userSelect {
  user-select: none;
}
.textStroke:hover {
  -webkit-text-stroke: none;
  color: white;
  transition: all 0.5s;
}

.homeContainer {
  position: relative;
}

.homeContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(to right, #999 0.1px, transparent 1px),
    linear-gradient(to bottom, #999 0.1px, transparent 1px);
  background-size: 5% 10%; /* Adjust these values to get 40 cells (8x5) */
  z-index: -10;
  opacity: 0.5;
}

/* Custom scrollbar styling for Webkit-based browsers (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  width: 9px; /* Set the width of the scrollbar */
  border-radius: 500px;
}

body::-webkit-scrollbar-track {
  background: #000; /* Black track background */
  border: 2px solid #fff; /* White border */
  border-radius: 50px; /* Rounded corners for the track */
}

body::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark gray scrollbar thumb */
  border: 2px solid #fff; /* White border around the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.main_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 30em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

/* Loader animation  */
.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: #141516;
  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
    path {
      fill: #141516;
    }
  }
  p {
    display: flex;
    color: white;
    font-size: 42px;
    align-items: center;
    position: absolute;
    z-index: 1;
    span {
      display: block;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
